.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #1589FF; /* اللون الأبيض */
  border-bottom: 1px solid #e2e8f0; /* إضافة حد سفلي خفيف جداً لإبرازها */
}

.links {
  display: flex;
  gap: 30px;
  font-weight: 500;
}

.links a {
  text-decoration: none;
  color: #475569;
}

/* نقوم بإخفاء زر Get Started تماماً */
.btn {
  display: none; 
}
